.label{
    display: block;
    float: left;
}
.form{
    width: 300px !important;
    display:block;
    margin: auto
}
.select{
    display: block;
}

.fontSuccess{
    font-size: 11px !important;
} 
.box1 {
  transition: all 1.3s;
}